appnope==0.1.0
beautifulsoup4==4.6.0
better-exceptions==0.1.8
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
defusedxml==0.5.0
dj-database-url==0.4.2
django-allauth==0.34.0
django-bootstrap-form==3.2.1
django-bootstrap3==9.0.0
-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git@b7672d951be75513bd8be3a685c1a4393f48d492#egg=django_debug_toolbar
feedparser==5.2.1
gunicorn==19.7.1
idna==2.6
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
oauthlib==2.0.6
olefile==0.44
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
slackbot==0.5.1
slacker==0.9.60
sqlparse==0.2.4
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
websocket-client==0.44.0
whitenoise==3.3.0
