<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>episodes - {% block title %}{% endblock %}</title>
</head>

<body>
{% block header %}
  <div class="header">
    <div class="wrapper">
      <a href="{% url 'feed:index' %}">episodes</a>
      <div class="header-nav">
        {% if user.is_authenticated %}
          <a href="{% url 'account_logout' %}">ログアウト</a>
        {% else %}
          <a href="{% url 'account_login' %}">ログイン</a>
          <a href="{% url 'account_signup' %}">サインアップ</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

<div class="wrapper">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>